<mat-card class="mat-mdc-card">
  <div style="margin: 0 20px">
    <img
      src="https://static.vecteezy.com/system/resources/previews/004/251/192/large_2x/cryptocurrency-wallet-app-on-mobile-of-blockchain-technology-bitcoin-money-market-altcoins-or-finance-exchange-with-credit-card-in-flat-illustration-vector.jpg"
      alt="Imagen de bienvenida"
      style="width: 100%; max-width: 400px; border-radius: 15px"
    />
  </div>
  <div class="form-container" style="text-align: center; margin: 20px">
    <h2
      style="
        color: #1565c0;
        font-family: 'Arial', sans-serif;
        font-size: 2em;
        font-weight: bold;
      "
    >
      ¡Bienvenido a Cuentas Claras!
    </h2>
    <p>
      Gracias por unirte a nosotros. Llevar el control de tus gastos y dividir
      cuentas con tus amigos nunca fue tan fácil.
    </p>
  </div>
  <div class="footer-container" style="margin: 20px">
    <button mat-raised-button color="primary" routerLink="/dashboard/me/groups">
      Empezar
    </button>
  </div>
</mat-card>
