@if (dialogRef) {
<ng-template class="focus"></ng-template>
}
<img
  src="../../../assets/img/logo.png"
  width="80"
  height="80"
  class="logo-img"
/>

<div class="container">
  <div class="panel-left">
    <div class="text-container">
      @if (!dialogRef) {
      <ngx-typed-js
        [strings]="words"
        [shuffle]="true"
        [typeSpeed]="60"
        [backSpeed]="40"
        [loop]="true"
      >
        <span class="typing"></span>
      </ngx-typed-js>
      } @else {
      <span class="typing">Cuentas Claras</span>
      }
    </div>

    <div class="image-container">
      <img src="../../../assets/img/banner.webp" width="500" height="291" />
    </div>
  </div>
  <div class="panel-right">
    <h1>Bienvenido</h1>
    <p></p>
    <div class="login-buttons">
      <button (click)="openLoginDialog()">Ingresar</button>
      <button (click)="openRegisterDialog()">Registrarse</button>
    </div>

    <img src="../../../assets/img/money.png" width="100" height="100" />
  </div>
</div>
