@if (dialogRef) {
<ng-template class="focus"></ng-template>
}
<img
  src="../../../assets/img/logo.png"
  width="80"
  height="80"
  class="logo-img"
/>

<div class="container">
  <div class="panel-left">
    <div class="text-container">
      <ngx-typed-js
        [strings]="words"
        [shuffle]="true"
        [typeSpeed]="60"
        [backSpeed]="40"
        [loop]="true"
      >
        <span class="typing"></span>
      </ngx-typed-js>
    </div>

    <div class="image-container">
      <img src="../../../assets/img/banner.webp" width="500" height="291" />
    </div>
  </div>
  <div class="panel-right">
    <h1>Bienvenido</h1>
    <p></p>
    <div class="login-buttons">
      <button (click)="openDialog()">Ingresar</button>
      <button>Registrarse</button>
    </div>

    <img src="../../../assets/img/money.png" width="100" height="100" />
  </div>
</div>

<footer class="footer">
  <p>
    Cuentas Claras | 2023 |
    <a target="_blank" href="https://github.com/santidossantos/angular.git"
      >Grupo 1</a
    >
    | TTPS | UNLP
  </p>
</footer>
