td {
  padding-right: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  max-width: 10000px;
  margin: 30px auto 0;
}

.footer-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.example-full-width,
.mat-select,
button.mat-raised-button {
  width: 100%;
}

.legend-container {
  margin-top: 10px;
}

.legend {
  font-size: 12px;
  color: #777;
}

.my-success-snackbar {
  color: white;
  background-color: #4caf50;
}

/* styles.css o tu archivo de estilos */
.custom-table-wrapper {
  max-height: 150px; /* ajusta la altura máxima según tus necesidades */
  overflow-y: auto;
}

.custom-table {
  width: 100%;
}
