td {
  padding-right: 8px;
}

.container {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1%;
}

.global-card {
  width: 100%;
  height: 100%;
  min-height: 600px;
  min-width: 900px;
  border-radius: 25px;
  align-content: center;
  display: flex;
}

.footer-container {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.example-full-width,
.mat-select,
button.mat-raised-button {
  width: 100%;
  margin-bottom: 5%;
}

.legend-container {
  margin-top: 10px;
}

.legend {
  font-size: 12px;
  color: #777;
}

.my-success-snackbar {
  color: white;
  background-color: #4caf50;
}

/* styles.css o tu archivo de estilos */
.custom-table-wrapper {
  max-height: 180px; /* ajusta la altura máxima según tus necesidades */
  overflow-y: auto;
}

.custom-table {
  width: 100%;
}

.button-add-member {
  width: 100%;
}

.lista_vacia {
  color: red;
}
