.navbar {
  display: flex;
}

.left-icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}

.center {
  display: flex;
  justify-content: space-between;
}

.center button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: bold;
}

.right-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}
