@switch (expense.expenseStrategy?.name) {
    @case ("EqualAmounts") {<p>EQUALS</p>}
    @case ("FixedAmounts") {
        <button mat-raised-button color="primary" (click)="addRow()">Agregar fila</button>
        <form class="example-form" [formGroup]="form" (ngSubmit)="addDebtorsUsersFixed()">
            <div formArrayName="debtorsUsers">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title style="font-size: x-large;">Definir los montos</mat-card-title>
                        <mat-card-subtitle class="card-subtitle">Agregue que monto deberá pagarle cada usuario</mat-card-subtitle>
                    </mat-card-header>
                    <br>
                    <mat-card-content>
                        <section class="example-container mat-elevation-z8" tabindex="0">
                            <table mat-table [dataSource]="dataSource">

                                <!-- Position Column -->
                                <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef>  </th>
                                <td mat-cell *matCellDef="let algo"> </td>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="user">
                                    <th mat-header-cell *matHeaderCellDef> Usuario </th>
                                    <td mat-cell *matCellDef="let element;" [formGroup]="element">
                                        <mat-label>Pagador</mat-label>
                                        <mat-select formControlName="user">
                                            @for(user of group.users; track user.id){
                                                <mat-option [value]="{ id: user.id }">{{user.username}}</mat-option>
                                            }
                                        </mat-select>
                                    </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="amount">
                                    <th mat-header-cell *matHeaderCellDef> Monto </th>
                                    <td mat-cell *matCellDef="let element;" [formGroup]="element"> 
                                        <mat-form-field floatLabel="always">
                                            <input matInput type="number" min="1" class="example-right-align" placeholder="0" formControlName="amountPayed">
                                            <span matTextPrefix>$&nbsp;</span>
                                            <span matTextSuffix>.00</span>
                                        </mat-form-field>
                                    </td>
                                </ng-container>

                                <!-- isPayed Column -->
                                <ng-container matColumnDef="isPayed">
                                    <th mat-header-cell *matHeaderCellDef> Pagó? </th>
                                    <td mat-cell *matCellDef="let element;" [formGroup]="element">
                                        <mat-chip-listbox aria-label="Fish selection" formControlName="isPayed">
                                            <mat-chip-option value=true>Se pagó</mat-chip-option>
                                            <mat-chip-option value=false>Todavia debe</mat-chip-option>
                                        </mat-chip-listbox>
                                    </td>
                                </ng-container>

                                <!-- Actions Column -->
                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef>Acción</th>
                                    <td mat-cell *matCellDef="let element; index as i" [formGroup]="element">
                                        <a type="button" (click)="deleteRow(i)">
                                        <mat-icon class="actionStyle">delete_forever</mat-icon>
                                        </a>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </section>
                    </mat-card-content>
                    <mat-card-footer class="footer-container">
                        <div class="button-container">
                            <button mat-raised-button color="primary" [routerLink]="['/dashboard/expense/'+expenseId]" routerLinkbuttonctive="router-link-active">Atras</button>
                            <button mat-raised-button color="primary" [disabled]="!form.valid">Añadir</button>
                        </div>
                    </mat-card-footer>
                </mat-card>
            </div>          
        </form>
    }
    @case ("FixedAmountsPercent") {
        <form class="example-form" [formGroup]="form" (ngSubmit)="addDebtorsUsersPercent()">
            <mat-card>
                <mat-card-header>
                    <mat-card-title style="font-size: x-large;">Definir los porcentajes</mat-card-title>
                    <mat-card-subtitle class="card-subtitle">Agregue que porcentaje deberá pagarle cada usuario</mat-card-subtitle>
                </mat-card-header>
                <br>
                <mat-card-content>
                    <section class="example-container mat-elevation-z8" tabindex="0">
                        <table mat-table [dataSource]="dataSource">

                            <!-- Position Column -->
                            <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef>  </th>
                            <td mat-cell *matCellDef="let user"> {{user.position}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Usuario </th>
                            <td mat-cell *matCellDef="let user"> {{user.username}} </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="amount">
                            <th mat-header-cell *matHeaderCellDef> Monto </th>
                            <td mat-cell *matCellDef="let user"> 
                                <mat-form-field floatLabel="always">
                                    <input matInput type="number" min="0" max="100" class="example-right-align" placeholder="0">
                                    <span matTextPrefix>%&nbsp;</span>
                                  </mat-form-field>
                            </td>
                            </ng-container>

                            <!-- Symbol Column -->
                            <ng-container matColumnDef="symbol">
                            <th mat-header-cell *matHeaderCellDef> Pagó? </th>
                            <td mat-cell *matCellDef="let user">
                                <mat-chip-listbox aria-label="Fish selection" formControlName="isPayed">
                                    <mat-chip-option value=true>Se pagó</mat-chip-option>
                                    <mat-chip-option value=false>Todavia debe</mat-chip-option>
                                </mat-chip-listbox>
                            </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </section>
                </mat-card-content>
                <mat-card-footer class="footer-container">
                    <div class="button-container">
                        <button mat-raised-button color="primary" [routerLink]="['/dashboard/expense/'+expenseId]" routerLinkbuttonctive="router-link-active">Atras</button>
                        <button mat-raised-button color="primary" [disabled]="!form.valid">Añadir</button>
                    </div>
                </mat-card-footer>
            </mat-card>
        </form>    
    }
}

