.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card {
  text-align: center;
  background: none;
  box-shadow: none;
  border: none;
}

.button-container {
  align-items: center;
  margin: 20px;
}

p {
  color: grey;
}

button {
  border-radius: 20px;
}
