<div class="container">
  <mat-card>
    <mat-card-title> 404 - Página no encontrada</mat-card-title>
    <mat-card-content>
      <p>La página que usted está queriendo acceder no existe</p>
      <img src="../../../../../assets/img/404.jpg" width="500" height="350" />
    </mat-card-content>
    <mat-card-footer class="button-container">
      <button mat-raised-button color="primary" routerLink="/dashboard/home">
        Ir a la página principal
      </button>
    </mat-card-footer>
  </mat-card>
</div>
