.body {
  display: flex;
  justify-content: center;
  height: 100%; /* ocupa el 100% del elemento que lo contiene */
  align-items: center;
  min-width: 600px;
  min-height: 400px;
  width: 100%;
}

.mat-mdc-card {
  justify-content: center;
  width: 100%;
  height: 100%;
}

.input {
  margin-top: 5%;
  margin-left: 10%;
  width: 100%;
}
