.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f5f5f5;
}

.mat-mdc-card {
  background-color: #f5f5f5;
  justify-content: center;
  width: 60%;
  height: 55%;
}

.input {
  margin-top: 5%;
  margin-left: 10%;
  width: 100%;
}
