.body {
  display: flex;
  justify-content: center;
  height: 100%; /* ocupa el 100% del elemento que lo contiene */
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px;
}

.login {
  width: 100%;
  max-width: 330px;
  text-align: center;
}

h1 {
  margin-top: 5%;
  margin-bottom: 15%;
}

.input {
  width: 100%;
  max-width: 330px;
  text-align: center;
  height: 80%;
}

.login button {
  width: 100%;
  height: 50px;
}

.spinner {
  margin: 0 auto; /* Otra forma de centrar */
}

img {
  margin-top: 5%;
  margin-bottom: 5%;
}
